@page "/"
@page "/upload"

<PageTitle>Log File Upload</PageTitle>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Upload Log Files</h3>
                </div>
                <div class="card-body">
                    <LogFileUpload />
                </div>
            </div>
        </div>
    </div>
</div>

